html,body,p,h1,h2,h3,h4,h5,h6,ul,li,ol,form,input,span,img,fieldset,legend,label,a,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video,blockquote,big{margin:0;padding:0;-webkit-text-size-adjust:none;text-size-adjust:none;max-height:999999px}article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video{display:block}
html,body{width:100%;height:100%;background:#fff;font-family:'HelveticaNeue',Verdana,Arial,sans-serif;font-size:13px;line-height:20px}
h1,h2,h3,h4,h5,h6{font-weight:normal}img{border:0}
ul,nav{list-style:none}
.italic{font-style:italic}
.bold{font-weight:bold}
.fl-left{float:left}
.fl-right{float:right}
.absolute{position:absolute}
.fixed{position:fixed}
.hidden{display:none}
.black{color:#000}
/* Clearfix */
.clearfix, .wrapper, .wrapper-contacts {
	*zoom: 1;
}
.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .wrapper-contacts:before, .wrapper-contacts:after {
	content: ''; display: table;
}
.clearfix:after, .wrapper:after, .wrapper-contacts:after {
	clear: both;
}
.pointer{cursor:pointer}
.default{cursor:default}


.i-block,.iblock{display:-moz-inline-stack;display:inline-block;vertical-align:top;*zoom:1;*display:inline;margin-right:-4px}
.i-block-mid,.iblockmid{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*zoom:1;*display:inline;margin-right:-4px}
.uper{text-transform:uppercase;letter-spacing:1px}
.textCenter{display:block;text-align:center}
.positionCenter{position:absolute;top:0;left:0;bottom:0;right:0;max-width:100%;max-height:auto;margin:auto}
.after{content:' ';display:block;position:absolute}
.trn{-o-transition:all .35s;-ms-transition:all .35s;-moz-transition:all .35s;-webkit-transition:all .35s;transition:all .35s}
a{color:#2f2f2f;text-decoration:none;border-bottom:1px solid #2f2f2f;border-bottom:1px solid rgba(0,0,0,0.3)}
a:hover{color:#f3a942;border-bottom-color:#f3a942;border-bottom-color:rgba(240,170,50,0.4)}
.dashed{border-bottom-style:dashed}
h1,h2,h3,h4,h5,h6{font-family:'Open Sans',sans-serif;font-weight:bold}
h2{font-size:32px;line-height:40px;font-family:'PFDinDisplayPro',Verdana,sans-serif;}
h3{font-size:14px;font-weight:bold;line-height:36px}
#all{width:100%;min-height:100%;height:auto;position:relative;min-width:1240px}
#wrap{height:auto;min-height:100%;position:relative;padding-bottom:400px}
footer{clear:both;height:400px;margin-top:-400px;width:100%;position:relative;min-width:1240px}
.inside{position:relative;margin:0 auto;padding:0 20px;max-width:1200px}
.section{position:relative;-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden}

h1{
	font-size: 43px;
	letter-spacing: -1px;
	line-height: 70px;
	margin-bottom: 20px;
	color: $black;
}
.title__h1_s2{
	font-size: 26px;
	letter-spacing: 1px;
	margin-top: 8px;
	text-transform: uppercase;
	font-family: 'HelveticaNeue',Verdana,Arial,sans-serif;
	font-weight: bold;
}

.bg_01{
	background-color: $bg01;
}

