.breadcrumbs{
	.breadcrumbs__item{
		float: left;
		border-left: 1px solid #a9a9a9;
		padding: 0 12px;
		font-size: 12px;
		line-height: 1;
		font-weight: bold;
	}
	.breadcrumbs__item:first-child{
		border-left: none;
		padding-left: 0;
	}
	.breadcrumbs__link{
		color: $blue;
		border-color: $blue;		
	}
	.breadcrumbs__link:hover{
		color: $orange;
		border-color: $orange;
	}
	.breadcrumbs__link.current{
		color: $gray;
		border: none;
	}
}