html,body{
	height:100%;
	width: 100%;
	margin: 0;
	background:#fff;
	font-family:'HelveticaNeue',Verdana,Arial,sans-serif;
	font-size:14px;
	line-height:20px
}
img{border:0}
ul,nav{list-style:none; padding-left: 0;}
a{text-decoration: none;}
p{margin: 0;}
.italic{font-style:italic}
.bold{font-weight:bold}
.fl{float:left}
.fl{float:right}
.absolute{position:absolute}
.fixed{position:fixed}
.hidden{display:none}
.black{color:#000}

/* Clearfix */
.clearfix, .wrapper, .wrapper-contacts {
	*zoom: 1;
}
.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .wrapper-contacts:before, .wrapper-contacts:after {
	content: ''; display: table;
}
.clearfix:after, .wrapper:after, .wrapper-contacts:after {
	clear: both;
}
.pointer{cursor:pointer}
.default{cursor:default}


.i-block,.iblock{display:-moz-inline-stack;display:inline-block;vertical-align:top;*zoom:1;*display:inline;margin-right:-4px}
.i-block-mid,.iblockmid{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*zoom:1;*display:inline;margin-right:-4px}
.uper{text-transform:uppercase;letter-spacing:1px}
.textCenter{display:block;text-align:center}
.positionCenter{position:absolute;top:0;left:0;bottom:0;right:0;max-width:100%;max-height:auto;margin:auto}
.after{content:' ';display:block;position:absolute}
.trn{@include transition(all 35s)}
.lnk__black{
	color: $black;
	border-bottom:1px solid $gray;
	@include transition(color .25s, border-color .25s);
}
.lnk__black:hover{
	color:$orange;
	border-bottom-color:transparent;
}
.lnk__blue{
	color: $blue;
	border-bottom:1px solid $blue;
}
.dotted{
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}


h1,h2,h3,h4,h5,h6{
	font-family:'Open Sans',sans-serif;
	font-weight:bold;
	margin: 0;
}
h1{
	font-size: 43px;
	letter-spacing: -1px;
	line-height: 70px;
	margin-bottom: 20px;
	color: $black;
}
.title__h1_s2{
	font-size: 26px;
	letter-spacing: 1px;
	margin-top: 8px;
	text-transform: uppercase;
	font-family: 'HelveticaNeue',Verdana,Arial,sans-serif;
	font-weight: bold;
}
h2{
	font-size:32px;
	line-height:40px;
}
h3{
	font-size:14px;
	font-weight:bold;
	line-height:36px;
}
#wrap{
	height:auto;
	min-height:100%;
	position:relative;
	padding-bottom:400px;
}
.inside{
	position:relative;
	margin:0 auto;
	padding:0 20px;
	max-width:1200px;
}

.bg_01{
	background-color: $bg01;
}




.button {
	display: inline-block;
	vertical-align: middle;
	padding: 14px 25px;
	color: $white;	
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	border-radius: 4px;
}
.button span{
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .35s;
  transition: all .35s;
}
.button img{vertical-align:top;margin-right:10px;margin-top:1px}
.button:hover span{
	color: $white;
	border-bottom-color:rgba(255,255,255,0.8);
	-webkit-transition: all .35s;
	transition: all .35s;
}
.button--blue{
	background:$blue;
	border-bottom-color:#559cca;
}
.button--blue:hover{
	background:$blueHov;
}
.button--orange{
	background:$orange;
	border-bottom-color:#f6c070;

}
.button--orange:hover{
	background:$orangeHov;
}
.button--gray{
	color: $black;
	background: $lightGray;
}
.button--gray:hover{
	color: $dark;
	background: $lightGrayHov;
}
.outlineBut{
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	*zoom:1;
	*display:inline;
	margin-right:-4px;
	border:2px solid #166bae;
	border:2px solid rgba(35,125,190,0.4);
	color:#166bae;
	font-size:16px;
	padding:12px 14px 10px 14px;
	border-radius:19px;
	font-weight:600
}
.outlineBut:hover{
	color:#f3a942;
	border-color:#f3a942;
	border-color:rgba(240,170,50,0.4)
}
.outlineBut img{
	margin-top:1px;
	margin-right:8px
}

.button--round{
	border-radius: 23px;
}

// .col{
// 	display: inline-block;
// 	vertical-align: top;
// 	margin-left: -4px;
// 	box-sizing: border-box;
// }
.col--33{width:33.3%}
.col--20{width:20%}
.col--25{width:25%}
.col--50{width:50%}
.col--75{width:75%}

.cols{
	text-align: justify;

    /* Обнуляем для родителя*/
    line-height: 0;
    font-size: 1px; /* 1px для Opera */

    /* Лекарство для IE6-7*/
    text-justify: newspaper;
    zoom:1;

    /* Включаем в работу последнюю строку*/
    text-align-last: justify;
}
.cols:after{
    content: '';
	width: 100%;
    height: 0;
    display: inline-block;
    overflow: hidden;
    visibility: hidden;
}
.col{
    display: inline-block;
    text-align: left;

    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;
    font-size: 14px;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;

    /* эмуляция inline-block для IE6-7*/
    //display : inline;
    //zoom : 1;
}