.header{
	position:relative;	
	background-color: $white;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0);
	@include transition(box-shadow .25s);
}
.header.brd__bottom{
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
	@include transition(box-shadow .25s);
}
.header__wrap{
	padding: 20px 0 2px;
	@include transition(padding .25s);
}
.header__left{
	white-space: nowrap;
	.logo{
		@include transition(width .25s);
	}
	.logo__lnk{
		display: inline-block;
	}
}
.header__left_wrap{
	display: inline-block;
	vertical-align: top;
	margin-top: 26px;
	padding-left: 15%;
}
.header__call a{
	color: #828282;
	margin-left:30px
}
.header__call a:hover{
	color:#f3a942
}
.header__call a{
	margin-left: 46px;
	font-size: 12px;
	margin-top: 4px;
	display: inline-block;
	line-height: 16px;
}
.mainmenu__buttons_centr{
	display:none;
	padding-top: 30px;
	padding-left: 20px;
	@include transition(left .25s);
}

.header__tel{
	font-size:22px;
	font-weight:600;
	padding-left:36px;
	background:url(../img/i-phone.png) no-repeat 2px 3px;
	font-family:"Open Sans",sans-serif
}
.header__right{
	margin-top: 28px;
	padding-right: 3%;
}
.header__right_btn{
	float: right;
}
.profile-btn{
	margin-right: 46px;
}
.profile-btn__pic{
	background:url(../img/i-user.png) no-repeat;
	width:33px;
	height:33px;
	float: left;
}
.profile-btn__text{
	margin-left: 56px;
	display: block;
	color: $black;
	font-size: 15px;
	line-height: 18px;
}

.basket-btn__price{
	font-size:20px;
	font-weight:500;
	display:block;
	padding-top:3px
}
.basket-btn__badge{
	position: relative;
	font: bold 14px/20px 'Open Sans',sans-serif;
	text-align: center;
	float: left;
	.pic{
		background: url(../img/i-cart.png) left top no-repeat;
		width: 32px;
		height: 38px;
		display: inline-block;
	}
	.num{
		background: #f3a942;
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 20px;
		border-radius: 10px;
		height: 20px;
		width: 20px;
	}	
}
.basket-btn__cont{
	color: $black;
	font-size: 15px;
	line-height: 18px;
	text-align: left;
	margin-left: 60px;
}
.basket__label{
	margin-bottom: 4px;
}
.basket__price{
	font-size: 20px;
	font-weight: bold;
}


.mainmenu{
	position:relative;
	padding-top:12px;
	padding-bottom: 30px;
	z-index:8;	
}
.mainmenu__btn{
	display: none;
}
.mainmenu__list{
	float: left;
	padding-left: 28px;
	width: 58%;
	margin-top: 14px;
	opacity: 1;
	right: 0;
	position: relative;
	@include transition(opacity .25s, right .25s);
}
.mainmenu__item{
	display: inline-block;
	padding-left: 40px;
}
.mainmenu__item:first-child{
	padding-left: 0;
}
.mainmenu__link{
	font-size:20px;
	font-family:'Open Sans',sans-serif;
	font-weight:600;
}
.mainmenu__link.lnk__black{
	&:hover{
		color: $blue;
	}
}
.mainmenu__buttons{	
	text-align: right;
}
.mainmenu__buttons_fr{
	float: right;
	padding-right: 18px;
}
.mainmenu__buttons .button{
	margin-left: 22px;
}
.mainmenu__btn-all{
	display: none;
	float: left;
	.ico{
		background: transparent $sprite -320px -24px no-repeat;
		width: 24px;
		height: 18px;
		display: inline-block;
		padding-right: 14px;
		vertical-align: middle;
	}
}


.header_fix{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	.header__wrap {
		padding: 20px 0;
	}
	.header__left{
		.logo__lnk img{
			width: 230px;
		}
	}
	.header__left_wrap{
		padding-left: 3%;
		margin-top: 6px;
	}
	.mainmenu__buttons_centr{
		padding-top: 8px;
		display: inline-block;
	}
	.header__contact{
		display: none;
	}
	.header__right{
		margin-top: 20px;
	}
	.mainmenu{
		display: none;
	}	
}
.header_brd{
	.inside{
		border-bottom: $brdLnk5;
		@include transition(border-bottom .25s);
	}
}
.header_fix.header_brd{
	.inside{
		border-bottom: transparent;
	}
}
