.services__sub-title{
	margin-bottom: 40px;
	font-weight: normal;
}
.services__map{
	height: 220px;
	width: 100%;
}
.services__row{
	margin-bottom: 60px;
}
.services__col{
	padding: 0px 20px;
}
.services{
	h2{
		margin-bottom: 20px;
	}
}
.services__content{
	p{
		margin-bottom: 40px;
	}
}
.services__pic{
	img{
		width: 100%;
		height: auto;
	}	
}
p.services__info{
	color: $black;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 20px;
}
.services__list_2-col{
	margin-top: 40px;
	li{
		width: 50%;
		float: left;
	}
}

.services__person {
	width: 70%;
	float: left;
	margin-bottom: 50px;
}
.services__person__pic{
	float: left;
}
.services__person__cont{
	margin-left: 208px;
	margin-top: -6px;
}
.services__person__cont{
	p{
		margin-bottom: 24px;
	}	
	.strong__text{
		font-size: 19px;
		margin-bottom: 16px;
	}
	.services__person__sub-info{
		a{			
			color: $gray;
			font-size: 16px;
			font-family: $openSans;
		}
		.ico{
			background: transparent $sprite -418px 0 no-repeat;
			width: 22px;
			height: 28px;
			display: inline-block;
			vertical-align: middle;
			padding-right: 10px;
		}
	}
}
.services__company{
	width: 30%;
	float: left;
	text-align: left;
	margin-bottom: 10px;
	padding-right: 20px;
	box-sizing: border-box;
}
.services__company__logo{
	margin-bottom: 6px;
}