.about{
	width: 100%;
	h2{
		font-size: 25px;
	}
	p{
		font-size: 15px;
		line-height: 24px;
	}
	.promo__txt{
		font-size: 16px;
		line-height: 26px;
	}
}
.about__content{
	margin: 0;
	width: 100%;
}
.about-partner__lnk {
	img{
		width: 90%;
		max-width: 140px;
	}
}