.conditions{
	margin-bottom: 40px;
}
.conditions__row{
	margin-top: 0;
	+ .conditions__row{
		margin-top: 10px;
	}
}
.conditions__col{
	width: 100%;
	margin-bottom: 20px;
}
.conditions__par{
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 24px;
}
.conditions__content{
	margin: 0 20px;
	p{
		font-size: 15px;
		line-height: 24px;
	}
	.promo__txt{
		font-size: 15px;
	}
}
.conditions-promo_brd{
	padding: 30px 40px;
}
.conditions-promo__list{
	margin-bottom: 0;
}
.conditions__sub-title{
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	+ .conditions__row{
		margin-top: 30px;
	}
}

.services__promo{
	display: block;
}
.services__promo__pic_01{
	display: none;
}
.services__promo__wrap{
	display: block;
	width: 100%;
}

.services__gallery-resp{
	padding-bottom: 82px;
	.slick-dots{
		padding-top: 40px;
	}
}

.services__gallery_col-4__item {
	padding-bottom: 0;
	text-align: center;
	.pic{
		min-height: 211px;
	}
	img{
		display: inline-block;
	}
	.title{
		position: static;
		padding-bottom: 30px;
	}
}
.services__info_bottom{
	padding: 0;
	padding-top: 112px;
	margin-bottom: 0;
}

.conditions__group{
	margin-bottom: 46px;
	margin-left: 0; 
	padding: 0px 20px;
	.col--66,
	.col--33{
		width: 100%;
	}
}

.conditions-table__title{
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}
.conditions-table__info{
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
}
.conditions-table__cell{
	padding: 14px 20px 26px;
	.button{
		font-size: 10px;
		padding: 4px 20px;
		margin: 0;
		text-transform: uppercase;
	}
}
.conditions-table__btn{
	position: absolute;
	left: 0;
	bottom: 24px;
	width: 100%;
	text-align: center;
}

.conditions__info{
	width: auto;
	margin-bottom: 0;
	.info__list{
		margin-bottom: 20px;
	}
	h3{
		margin-bottom: 32px;
	}
	p.phone{
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 36px;

	}
}
.delivery-cont__group{
	padding-top: 30px;
}