.conditions{
	margin-bottom: 40px;
}
.conditions__row{
	margin-top: 0;
	+ .conditions__row{
		margin-top: 10px;
	}
}
.conditions__col{
	width: 100%;
	margin-bottom: 20px;
}
.conditions__par{
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 24px;
}
.conditions__content p{
	font-size: 15px;
	line-height: 24px;
}
.conditions-promo_brd{
	padding: 30px 40px;
}
.conditions-promo__list{
	margin-bottom: 0;
}
.conditions__sub-title{
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	+ .conditions__row{
		margin-top: 30px;
	}
}

.services__promo{
	display: block;
}
.services__promo__pic_01{
	display: none;
}
.services__promo__wrap{
	display: block;
	width: 100%;
}

.services__gallery-resp{
	padding-bottom: 82px;
	.slick-dots{
		padding-top: 40px;
	}
}

.services__gallery_col-4__item {
	padding-bottom: 0;
	text-align: center;
	.pic{
		min-height: 211px;
	}
	img{
		display: inline-block;
	}
	.title{
		position: static;
		padding-bottom: 30px;
	}
}
.services__info_bottom{
	padding: 0;
	padding-top: 112px;
	margin-bottom: 0;
}