.footer{
	height: 154px;
	bottom: -183px;
}
.footer-col--1,
.footer-col--2,
.footer-col--3,
.footer-col--4{
	display: none;
}
.footer-col--5{
	width: 100%;
	padding: 0;
	margin: 0;
	padding: 24px 0 70px;
	position: relative;
}

.footer-socs{
	float: right;
	width: 20%;
	margin: 0;
	padding: 0;
	text-align: right;
}
.footer-adr,
.footer-tel{
	float: left;
	width: 40%;
	margin: 0;
	padding: 0;
}
.footer-left{
	left: 20px;
}
.footer-right{
	width: auto;
	right: 20px;
}
.social-likes__widget{
	margin: 6px 8px;
}