.header__left {
	width: 72%;
	.logo{
		max-width: 250px;
	}
}
.header__left_wrap{
	margin-top: 14px;
}
.header__tel{
	padding-left: 28px;
}

.header__right{
	padding-top: 16px;
	width: 28%;
	.profile-btn{
		display: none;
	}
}

.mainmenu__buttons_fr{
	width: auto;
	max-width: none;
	float: none;
	margin: 0px -10px;
}
.mainmenu__list{
	display: none;
}
.mainmenu__buttons_fr-wrap{
	width: 33.3%;
}
.mainmenu__btn-all{
	display: inline-block;
	width: 33.3%;
	.button{
		display: block;
		text-align: center;
		margin: 0px 10px;
		padding: 14px 15px;
		box-sizing: border-box;
	}
	.ico{
		@include sprite('ico_18');
		padding: 0;
		margin-right: 14px;
		margin-bottom: 2px;
	}
}

.mainmenu__buttons_centr{
	display: none;
}
.header_fix {
	.header__wrap{
		display: none;
	}
	.mainmenu{
		z-index: 1000;
		opacity: 1;
		padding: 20px 0;
		position: relative;
	}
}
