.maincat{
	.col--33{
		width: 25%;
	}
	.inside{
		padding: 0;
	}
	&.col--75{
		width: 100%;
	}
}
.maincat__wrap{
	&.final{
		line-height: 198px;
	}
}
.maincat__image{
	height: 126px;
	line-height: 110px;
	img{
		width: 40%;
		height: auto;
	}
}
.maincat__title{
	font-size: 13px;
	width: 90%;
	padding-bottom: 12px;
}