.video{
	&.col--75{
		width: 100%;
	}
	.cols{
		margin: 0 -8px;
	}
}
.video__main{
	.col{
		margin-bottom: 20px;
		width: 50%;
	}
}
.video-item{
	margin: 0 8px;
	width: auto;
}
.video-footer{
	font-size: 12px;
	line-height: 18px;
	bottom: 18px;
}