@media (max-width:890px) {
	.header__wrap{
		margin-bottom: 20px;
	}
	.header__center{
		padding-top: 15px;
	}
	.header__tocart{
		display: none;
	}
	.header__right{
		padding-top: 15px;
	}

	.header_fix{
		.header__center{
			display: block;
			padding-top: 15px;
		}
		.mainmenu__buttons_centr{
			display: none;
		}
	}
}