.delivery{
	textarea{
		height: 178px;
	}
	.radio-cust__label{
		.ico{
			float: left;
		}
		strong,
		.text{
			margin-left: 40px;
			display: block;
			line-height: 22px;
		}
		strong{
			font-weight: bold;
			font-size: 16px;
		}
		.text{
			font-size: 14px;
		}
	}
	.center{
		text-align: center;
	}
}
.delivery_row{
	padding: 78px 0;
}

.delivery__ico{
	.ico{
		float: left;
	}
	.text{
		margin-left: 50px;
		display: block;
	}
}
.delivery__ico-money{
	.ico{
		@include sprite('ico_69');
	}
}
.delivery__ico-wallet{
	.ico{
		@include sprite('ico_70');
	}
}
.delivery__ico-range{
	.ico{
		@include sprite('ico_71');
	}
}
.delivery__ico-post{
	margin-top: -22px;
	margin-bottom: 20px;
	img{
		line-height: 60px;
		display: inline-block;
		vertical-align: middle;
	}
	.text{
		display: inline-block;
		vertical-align: middle;
		line-height: 60px;
	}
}
