.faq-main__btn-quest{
	&.button:hover{
		background-color: $orangeHov;
	}
}
.faq-main{	
	font-family: $openSans;
	width: 66.6%;
	margin-bottom: 52px;
}
.faq-main__btn-mobile{
	display: none;
}
.faq-main__cont{
	margin-bottom: 20px;
}
.faq-main__list{
	margin-bottom: 44px;
}
.faq-main__item{
	padding: 38px 0 20px;
	border-radius: 6px;
	border: $brdLnk5;
	background-color: $white;	
	margin-top: 22px;
	&:first-child{
		margin-top: 0;
	}
}
.faq-main__top,
.faq-main__answer,
.faq-main__footer{
	padding: 0 46px;
	box-sizing: border-box;
}
.faq-main__top{
	margin-bottom: 22px;
}
.faq-main__right{
	text-align: right;
}
.faq-main__voting,
.faq-main__published{
	font-size: 12px;
	color: $gray;
	margin-left: 4px;
	.ico,
	.text{
		vertical-align: middle;
		line-height: 17px;
		display: inline-block;
		margin-right: 10px;		
	}	
}
.faq-main__published{
	.ico{
		@include sprite('ico_64');
	}
}
.faq-main__voting{
	cursor: pointer;
	color: $gray;
	.ico{
		@include sprite('ico_65');
	}
	&.current,
	&:hover{
		color: $blue;
		.ico{
			@include sprite('ico_66');
		}
	}
	.text{
		font-weight: bold;
	}
}
.faq-main__user__name{
	font-size: 16px;
	margin-bottom: 6px;
}
.faq-main__user__data{
	color: $gray;
}

.faq-main__quest{
	padding: 0 46px;
	border-bottom: $brdLnk5;
	padding-bottom: 6px;
	p{
		line-height: 22px;
		margin-bottom: 22px;
	}
	a{
		color: $blue;
		border-bottom:1px solid $blue;
		&:hover{
			border-bottom-color:transparent;
		}
	}
}
.faq-main__answer{
	padding-top: 32px;
	p{
		line-height: 22px;
		margin-bottom: 22px;
	}
	a{
		color: $blue;
		border-bottom:1px solid $blue;
		&:hover{
			border-bottom-color:transparent;
		}
	}
}


/********** faq-aside **********/
.faq-aside{
	width: 33.3%;
	margin-top: -64px;
	padding-left: 4%;
}
.faq-aside__title{
	margin-bottom: 30px;
}
.faq-quest__item{
	margin-bottom: 20px;
}
.faq-quest__left,
.faq-quest__right{
	display: table-cell;
}
.faq-quest__left{
	border-right: $brdLnk5;
	width: 84%;
	.question{
		border-bottom: 1px solid transparent;
		padding: 20px;
		padding-top: 16px;
		@include transition(border-bottom 1s);
	}
	.answer{
		padding: 20px;
		padding-bottom: 16px;
		display: none;
	}
}
.faq-quest__cont{
	display: table;
	background-color: $white;
	border-radius: 6px;
	border: $brdLnk5;
	overflow: hidden;
	&.opened{
		.question{
			border-bottom: 1px solid $grayBrd;
		}
	}
}
.faq-quest__right{
	width: 16%;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: $white;
	border-radius: 0px 6px 6px 0px;
	@include transition(background-color .25s);
	.ico{
		@include sprite('ico_62');
		display: inline-block;
		width: 12px;
		height: 12px;
		padding-bottom: 0px;
		@include transition(opacity 1s);
	}
	&:focus,
	&:hover{
		background-color: #F7F7F7;
	}
}
.faq-quest__cont.opened{
	.faq-quest__right{
		vertical-align: bottom;
		.ico{
			padding-bottom: 10px;
			@include sprite('ico_63');
		}
	}
}
.faq__quest__lnk{
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	.button{
		display: block;
	}
}