.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	z-index: 1000;
}
.header.brd__bottom{
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
}
.header__wrap{
	padding: 20px 0 94px;
	@include transition(padding .25s);
}
.header__left{
	float: left;
	width: 65%;
	position: relative;
	.logo{
		width: 100%;
		max-width: 350px;
		@include transition(width .25s);
	}
	.logo__lnk{
		display: inline-block;
		vertical-align: middle;
		margin-left: -4px;
	}
}
.header__left_wrap{
	display: inline-block;
	vertical-align: middle;
	height: 60px;
	right: 0;
	width: 100%;
	max-width: 270px;
	position: absolute;
}
.header__call a{
	color: #828282;
	margin-left:30px
}
.header__call a:hover{
	color:#f3a942
}
.header__call a{
	margin-left: 46px;
	font-size: 12px;
	margin-top: 4px;
	display: inline-block;
	line-height: 16px;
}
.mainmenu__buttons_centr{
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	will-change: top;
	@include transition(top .25s);
}

.header__contact{
	opacity: 1;
	position: absolute;
	top: 30px;
	right: 20%;
	z-index: 10;
	will-change: top;
	@include transition(top .25s);
}
.header__tel{
	font-size:22px;
	font-weight:600;
	padding-left:36px;
	background:url(../img/i-phone.png) no-repeat 2px 3px;
	font-family:"Open Sans",sans-serif
}
.header__right{
	padding-top: 28px;
	float: right;
	width: 35%;
	text-align: right;
	@include transition(padding .25s);
}
.header__right_btn{
	display: inline-block;
	margin-left: 10%;
	vertical-align: top;
	&:first-child{
		margin-left: 0;
	}
}


.profile-btn.autorized{
	.profile-btn__pic{
		&:after{
			content: "";
			position: absolute;
			top: 100%;
			left: 100%;
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-left: -12px;
			margin-top: -10px;
			background: transparent $sprite -1008px 0 no-repeat;
		}
	}
}
.profile-btn__pic{
	background:url(../img/i-user.png) no-repeat;
	width:33px;
	height:33px;
	float: left;
	position: relative;	
}
.profile-btn__text{
	margin-left: 56px;
	display: block;
	color: $black;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	.sub-text{font-size: 12px;}
}

.basket-btn__price{
	font-size:20px;
	font-weight:500;
	display:block;
	padding-top:3px
}
.basket-btn__badge{
	position: relative;
	font: bold 14px/20px 'Open Sans',sans-serif;
	text-align: center;
	float: left;
	.pic{
		background: url(../img/i-cart.png) left top no-repeat;
		width: 32px;
		height: 38px;
		display: inline-block;
	}
	.num{
		background: #f3a942;
		color: #ffffff;
		position: absolute;
		bottom: 0;
		left: 20px;
		border-radius: 10px;
		height: 20px;
		width: 20px;
	}	
}
.basket-btn__cont{
	color: $black;
	font-size: 15px;
	line-height: 18px;
	text-align: left;
	margin-left: 60px;
}
.basket__label{
	margin-bottom: 4px;
}
.basket__price{
	font-size: 20px;
	font-weight: bold;
}


.mainmenu{
	position: absolute;
	top: 54%;
	left: 0;
	right: 0;
	width: 100%;
	padding: 12px 20px 30px;
	display: block;
	opacity: 1;
	box-sizing: border-box;
	@include transition(padding .25s, top .25s);
}
.mainmenu__btn{
	display: none;
}
.mainmenu__list{
	float: left;
	padding-top: 10px;
	width: 60%;
	max-width: 685px;
	text-align: justify;
    /* Обнуляем для родителя*/
    line-height: 0;
    font-size: 1px; /* 1px для Opera */
	&:after{
		width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
	}
}
.mainmenu__item{
    display: inline-block;
    text-align: left;
    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;
    font-size: 14px;
    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;
}
.mainmenu__link{
	font-size:20px;
	font-weight:600;
}
.mainmenu__link.lnk__black{
	&:hover{
		color: $blue;
	}
}
.mainmenu__buttons{
	text-align: justify;
	line-height: 0;
	font-size: 1px; /* 1px для Opera */
	/* Лекарство для IE6-7*/
	text-justify: newspaper;
	zoom:1;
	/* Включаем в работу последнюю строку*/
	text-align-last: justify;
	&:after{
		width: 100%;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
	.button{
        text-align: left;
        /* Востанавливаем у потомков, кроме последнего*/
        line-height: normal;
        font-size: 18px;
        /* Без него в Opera будет отступ под элементами */
        vertical-align: top;
	}
}
.mainmenu__buttons_fr{
	float: right;
	width: 40%;
	max-width: 410px;
}
.mainmenu__btn-all{
	display: none;
	float: left;
	.ico{
		background: transparent $sprite -320px -24px no-repeat;
		width: 24px;
		height: 18px;
		display: inline-block;
		padding-right: 14px;
		vertical-align: middle;
	}
}


.header_fix{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	.header__wrap {
		padding: 7px 0;
	}
	.header__left{
		.logo__lnk{
			width: 40%;
			img{
				width: 230px;
			}
		}
	}
	.header__left_wrap{
		width: 100%;
		right: 0;
		text-align: center;
		max-width: 430px;
	}
	.mainmenu__buttons_centr{
		opacity: 1;
		position: absolute;
		top: 8px;
		right: 0;
		width: 100%;
		max-width: 420px;
	}
	.header__contact{
		opacity: 0;
	}
	.header__right{
		padding-top: 16px;
	}
	.mainmenu{
		position: absolute;
		top: 100%;
		opacity: 0;
		z-index: -1;
		padding: 0 20px;
	}	
}
.header_brd{
	.inside{
		border-bottom: $brdLnk5;
		@include transition(border-bottom .25s);
	}
}
.header_fix.header_brd{
	.inside{
		border-bottom: transparent;
	}
}
