.promoslider + .maincat{
	margin-top: 1px;
}
.maincat{
	position:relative;
	margin-bottom: 80px;
	.cols{
		font-size: 0;
		line-height: 0;
		margin: 0;
	}
}
.maincat__item{
	margin: 0;
	color:#000;
	font-weight:600;
	font-size:14px;
	line-height:20px;	
	background-color: $white;
}
.maincat__wrap{
	display:block; 
	height: 100%;
	margin: -1px 0 0 -1px;
	position: relative;
	text-align:center;
	background-color: $white;
	border:1px solid $lightGray; 
	@include transition(border-color .7s, color .2s, background-color .25s);
	&:hover,
	&:active,
	&:focus{
		border-color:$orange; 
		z-index: 1;
	}
	&.final{
		line-height: 278px;
	}
}

.maincat__title{
	padding-bottom:18px;
	width:80%;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	vertical-align: bottom;
}
.maincat__image{
	height:195px;
	line-height:195px;
	overflow:hidden;
	img{
		vertical-align:middle;
	}
}

.maincat__all{
	display: inline-block;
	vertical-align: middle;
}
.maincat__toall{
	font-size:32px;
	font-weight:bold;
	line-height:36px;	
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	.text{
		position: relative;
		border-bottom:1px solid rgba(0,0,0,0.4);
		&:before{
			content:'';
			display:block;
			position:absolute;
			left: 100%;
			bottom:8px;
			margin-left: 10px;
			opacity:1;
			@include sprite('ico_78');
		}
	}
}

.maincat__item{
	&:hover{
		.text{
	 		border-color:rgba(240,170,50,0.4);
		 	&:before{
		 		@include sprite('ico_79');
		 	}
		}
	}
}

.maincat_dark{
	.maincat__pseudo-lnk{
		color: $blue;
		display: inline-block;
		border-bottom: 1px solid $blue;
	}
	.maincat__subtext{
		color: $gray;
		margin-bottom: 10px;
	}
	.maincat__wrap:hover{
		background-color: $dark;
		border: $brdLnk3;
		.maincat__title{
			color: $white;	
		}
		.maincat__pseudo-lnk{
			color: $orange;
			border-bottom: 1px solid $orange;
		}
	}	
}