$sprite: (
	ico_01: (
		offset-x: -80px,
		offset-y: -78px,
		width: 33px,
		height: 33px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_02: (
		offset-x: -235px,
		offset-y: -106px,
		width: 32px,
		height: 37px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_03: (
		offset-x: -303px,
		offset-y: -27px,
		width: 17px,
		height: 16px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_04: (
		offset-x: -36px,
		offset-y: -292px,
		width: 8px,
		height: 15px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_05: (
		offset-x: -54px,
		offset-y: -292px,
		width: 8px,
		height: 15px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_06: (
		offset-x: -18px,
		offset-y: -292px,
		width: 8px,
		height: 16px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_07: (
		offset-x: 0px,
		offset-y: -292px,
		width: 8px,
		height: 16px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_08: (
		offset-x: -240px,
		offset-y: -233px,
		width: 21px,
		height: 13px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_09: (
		offset-x: -135px,
		offset-y: -233px,
		width: 25px,
		height: 15px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_10: (
		offset-x: -32px,
		offset-y: -266px,
		width: 19px,
		height: 16px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_11: (
		offset-x: -303px,
		offset-y: -166px,
		width: 11px,
		height: 21px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_12: (
		offset-x: -303px,
		offset-y: -106px,
		width: 12px,
		height: 20px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_13: (
		offset-x: -118px,
		offset-y: -183px,
		width: 24px,
		height: 24px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_14: (
		offset-x: -50px,
		offset-y: -183px,
		width: 24px,
		height: 24px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_15: (
		offset-x: -277px,
		offset-y: -130px,
		width: 12px,
		height: 16px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_16: (
		offset-x: -303px,
		offset-y: -80px,
		width: 16px,
		height: 16px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_17: (
		offset-x: -277px,
		offset-y: -246px,
		width: 14px,
		height: 10px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_18: (
		offset-x: -277px,
		offset-y: -107px,
		width: 16px,
		height: 13px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_19: (
		offset-x: 0px,
		offset-y: -123px,
		width: 44px,
		height: 50px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_20: (
		offset-x: -155px,
		offset-y: -45px,
		width: 69px,
		height: 35px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_21: (
		offset-x: -228px,
		offset-y: -266px,
		width: 5px,
		height: 7px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_22: (
		offset-x: -243px,
		offset-y: -266px,
		width: 5px,
		height: 7px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_23: (
		offset-x: -34px,
		offset-y: -233px,
		width: 23px,
		height: 23px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_24: (
		offset-x: -111px,
		offset-y: -123px,
		width: 47px,
		height: 45px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_25: (
		offset-x: -54px,
		offset-y: -123px,
		width: 47px,
		height: 45px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_26: (
		offset-x: -155px,
		offset-y: 0px,
		width: 70px,
		height: 35px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_27: (
		offset-x: 0px,
		offset-y: -78px,
		width: 70px,
		height: 35px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_28: (
		offset-x: -235px,
		offset-y: -53px,
		width: 32px,
		height: 43px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_29: (
		offset-x: -235px,
		offset-y: 0px,
		width: 32px,
		height: 43px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_30: (
		offset-x: 0px,
		offset-y: -183px,
		width: 40px,
		height: 40px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_31: (
		offset-x: -168px,
		offset-y: -123px,
		width: 40px,
		height: 40px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_32: (
		offset-x: -199px,
		offset-y: -90px,
		width: 25px,
		height: 15px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_33: (
		offset-x: -170px,
		offset-y: -233px,
		width: 25px,
		height: 15px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_34: (
		offset-x: -303px,
		offset-y: -259px,
		width: 11px,
		height: 21px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_35: (
		offset-x: -303px,
		offset-y: -228px,
		width: 11px,
		height: 21px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_36: (
		offset-x: -187px,
		offset-y: -183px,
		width: 24px,
		height: 23px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_37: (
		offset-x: 0px,
		offset-y: -233px,
		width: 24px,
		height: 23px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_38: (
		offset-x: -112px,
		offset-y: -266px,
		width: 12px,
		height: 12px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_39: (
		offset-x: -277px,
		offset-y: -202px,
		width: 12px,
		height: 12px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_40: (
		offset-x: -277px,
		offset-y: -224px,
		width: 12px,
		height: 12px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_41: (
		offset-x: -90px,
		offset-y: -266px,
		width: 12px,
		height: 12px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_42: (
		offset-x: 0px,
		offset-y: -266px,
		width: 22px,
		height: 16px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_43: (
		offset-x: -134px,
		offset-y: -266px,
		width: 16px,
		height: 8px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_44: (
		offset-x: -160px,
		offset-y: -266px,
		width: 16px,
		height: 8px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_45: (
		offset-x: -277px,
		offset-y: -156px,
		width: 13px,
		height: 14px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_46: (
		offset-x: -303px,
		offset-y: -53px,
		width: 16px,
		height: 17px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_47: (
		offset-x: -235px,
		offset-y: -192px,
		width: 31px,
		height: 20px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_48: (
		offset-x: -205px,
		offset-y: -233px,
		width: 25px,
		height: 14px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_49: (
		offset-x: -61px,
		offset-y: -266px,
		width: 19px,
		height: 15px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_50: (
		offset-x: -303px,
		offset-y: -197px,
		width: 11px,
		height: 21px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_51: (
		offset-x: -303px,
		offset-y: -136px,
		width: 12px,
		height: 20px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_52: (
		offset-x: -277px,
		offset-y: 0px,
		width: 16px,
		height: 24px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_53: (
		offset-x: -123px,
		offset-y: -78px,
		width: 16px,
		height: 24px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_54: (
		offset-x: -101px,
		offset-y: -233px,
		width: 24px,
		height: 18px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_55: (
		offset-x: -67px,
		offset-y: -233px,
		width: 24px,
		height: 18px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_56: (
		offset-x: -277px,
		offset-y: -34px,
		width: 16px,
		height: 15px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_57: (
		offset-x: -72px,
		offset-y: -292px,
		width: 12px,
		height: 10px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_58: (
		offset-x: -235px,
		offset-y: -153px,
		width: 22px,
		height: 29px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_59: (
		offset-x: -83px,
		offset-y: 0px,
		width: 62px,
		height: 62px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_60: (
		offset-x: 0px,
		offset-y: 0px,
		width: 73px,
		height: 68px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_61: (
		offset-x: -94px,
		offset-y: -292px,
		width: 12px,
		height: 10px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_62: (
		offset-x: -277px,
		offset-y: -180px,
		width: 12px,
		height: 12px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_63: (
		offset-x: -50px,
		offset-y: -217px,
		width: 12px,
		height: 2px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_64: (
		offset-x: -303px,
		offset-y: 0px,
		width: 17px,
		height: 17px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_65: (
		offset-x: -277px,
		offset-y: -59px,
		width: 16px,
		height: 14px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_66: (
		offset-x: -277px,
		offset-y: -83px,
		width: 16px,
		height: 14px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_67: (
		offset-x: -218px,
		offset-y: -142px,
		width: 6px,
		height: 9px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_68: (
		offset-x: -218px,
		offset-y: -123px,
		width: 6px,
		height: 9px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_69: (
		offset-x: -84px,
		offset-y: -183px,
		width: 24px,
		height: 24px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_70: (
		offset-x: -152px,
		offset-y: -183px,
		width: 25px,
		height: 23px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_71: (
		offset-x: -155px,
		offset-y: -90px,
		width: 34px,
		height: 17px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_72: (
		offset-x: -116px,
		offset-y: -292px,
		width: 12px,
		height: 10px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_73: (
		offset-x: -186px,
		offset-y: -266px,
		width: 11px,
		height: 7px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_74: (
		offset-x: -207px,
		offset-y: -266px,
		width: 11px,
		height: 7px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
	ico_75: (
		offset-x: -138px,
		offset-y: -292px,
		width: 10px,
		height: 10px,
		total-width: 320px,
		total-height: 308px,
		image: '../ico/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}

