/* line 1, ../../sass/index/about.scss */
.about { padding-top: 60px; }

/* line 4, ../../sass/index/about.scss */
.about h2 { font-family: 'Open Sans',sans-serif; margin-bottom: 22px; }

/* line 9, ../../sass/index/about.scss */
.about .promo__txt { display: block; font-size: 18px; line-height: 30px; margin-bottom: 18px; }

/* line 16, ../../sass/index/about.scss */
.about p { margin-bottom: 20px; line-height: 20px; }

/* line 20, ../../sass/index/about.scss */
.about-side { margin-left: 20px; margin-right: 0; position: relative; }

/* line 25, ../../sass/index/about.scss */
.about-side h2 { margin-bottom: 25px; }

/* line 28, ../../sass/index/about.scss */
.about-content { width: 92%; }
