/* line 1, ../../sass/index/dvnt.scss */
.dvnt { position: relative; padding-bottom: 0; margin-top: 30px; }

/* line 6, ../../sass/index/dvnt.scss */
.dvnt h2 { background: #fff; position: absolute; top: -23px; left: 50%; width: 400px; margin-left: -200px; text-align: center; width: 350px; margin-left: -175px; }

/* line 17, ../../sass/index/dvnt.scss */
.dvnt-wrap { position: relative; border: 5px solid #f3a942; padding: 55px 0 13px 100px; }

/* line 22, ../../sass/index/dvnt.scss */
.dvnt-oh { overflow: hidden; }

/* line 25, ../../sass/index/dvnt.scss */
.dvnt .cols { margin-right: -40px; }

/* line 28, ../../sass/index/dvnt.scss */
.dvnt-image { height: 70px; line-height: 70px; position: relative; }

/* line 33, ../../sass/index/dvnt.scss */
.dvnt-item { width: 80%; font-size: 15px; line-height: 22px; font-weight: bold; padding-bottom: 40px; }
