/* line 1, ../../sass/index/panorama.scss */
.panoram { position: relative; background: url(../img/girl.jpg) bottom center no-repeat; background-size: cover; }

/* line 6, ../../sass/index/panorama.scss */
.panoram__content { position: relative; margin-left: 52%; padding: 100px 0; }

/* line 11, ../../sass/index/panorama.scss */
.panoram__title { font-size: 40px; line-height: 50px; margin-bottom: 20px; font-weight: 900; text-transform: uppercase; letter-spacing: 1.5px !important; font-family: 'Open Sans',sans-serif; }

@media (max-width: 1024px) { /* line 21, ../../sass/index/panorama.scss */
  .panoram__title { font-size: 34px; } }
/* line 25, ../../sass/index/panorama.scss */
.panoram__sub-title { font-size: 18px; line-height: 24px; font-weight: 600; width: 60%; }

/* line 31, ../../sass/index/panorama.scss */
.panoram__list { font-size: 15px; line-height: 24px; margin-top: 25px; margin-bottom: 35px; }

/* line 37, ../../sass/index/panorama.scss */
.panoram__item { margin-bottom: 10px; }
