/* line 1, ../../sass/index/panorama.scss */
.panoram { position: relative; background: url(../img/girl.jpg) no-repeat bottom center; height: 730px; }

/* line 6, ../../sass/index/panorama.scss */
.panoram-content { position: relative; margin-left: 52%; padding-top: 100px; }

/* line 11, ../../sass/index/panorama.scss */
.panoram-content p { font-size: 18px; line-height: 24px; font-weight: 600; width: 60%; }

/* line 17, ../../sass/index/panorama.scss */
.panoram-content ul { font-size: 15px; line-height: 24px; margin-top: 25px; margin-bottom: 35px; }

/* line 23, ../../sass/index/panorama.scss */
.panoram-content ul li { margin-bottom: 10px; }

/* line 26, ../../sass/index/panorama.scss */
.panoram-content h1 { font-size: 40px; line-height: 50px; margin-bottom: 20px; font-weight: 900; text-transform: uppercase; letter-spacing: 1.5px !important; font-family: 'Open Sans',sans-serif; }
