.adress{
	margin-bottom: 70px;
}
.adress__sheme{
	display: none;
}
.adress__map{
	display: inline-block;
	vertical-align: top;
	height: 780px;
}

.adress__tbl{
	display: inline-block;
	vertical-align: top;
}
.adress__tbl-row{
	display: block;
}
.adress__tbl-cell{
	display: table-cell;
	width: 33%;
	vertical-align: top;
	padding-right: 20px;
	padding-bottom: 25px;
}
.adress__type{
	line-height: 20px;
	color: $gray;
}
.adress__metro{	
	line-height: 20px;
	.color{
		width: 8px;
		height: 8px;
		float: left;
		margin-top: 8px;
		border-radius: 5px;
	}
	.name{
		font-size: 14px;
		margin-left: 14px;
	}
	.red{
		background-color: #EF1E25;
	}
	.blue{
		background-color: #5091BB;
	}
	.darkblue{
		background-color: #0252A2;
	}
	.lightblue{
		background-color: #85D4F3;
	}
	// бирюзовый
	.turquoise{
		background-color: #019EE0;
	}
	.brown{
		background-color: #745C2F;
	}
	.orange{
		background-color: #FBAA33;
	}
	.purple{
		background-color: #B61D8E;
	}
	.gray{
		background-color: #ACADAF;
	}
	.lightgreen{
		background-color: #B1D332;
	}
	.yellow{
		background-color: #FFD803;
	}
}
.adress__lnk{
	color: $blue;
	line-height: 20px;
	font-size: 14px;
	border-bottom: none;
	display: inline-block;
}
.adress__phone{
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin-bottom: 4px;
}
.adress__subphone{
	font-size: 12px;
	line-height: 20px;
	color: $gray;
}
.adress__tbl-lnk{
	display: none;
}

.adress__nav{
	margin-bottom: 40px;
}
.adress__nav-select_wrap{
	position: relative;
	display: inline-block;
	height: 58px;
	width: 336px;
	vertical-align: middle;
	.styledSelect{
		height: 58px;
		width: 336px;		
	}
	.options{
		width: 336px;
	}
	.select__ico{
	    content: "";
	    position: absolute;    
	    display: inline-block;
        top: 24px;
	    left: 18px;
	    &.all{
	        top: 22px;
	        left: 18px;
	        width: 22px;
	        height: 15px;
	        @include sprite('ico_42');
	    }
	}
}

.adress__nav-type{
	line-height: 20px;
	display: inline-block; 
	margin-left: 4%;
	.text{
		font-size: 14px;
		vertical-align: middle;
		font-weight: bold;
	}
	.ico{
		vertical-align: middle;
		background: transparent url('../img/ico_09.png') left top no-repeat;
		width: 46px;
		height: 38px;
		margin: 0px 6px;
		display: inline-block;
	}
}
.adress__nav-btn__item{
	margin-left: 10px;
	font-size: 14px;
	display: inline-block;
	span{
		border-bottom: none;
		text-shadow: none;
	}
	.text{
		padding-bottom: 0;
		line-height: 24px;
		vertical-align: middle;
		font-size: 15px;
	}
	&:first-child{
		margin-left: 0;
	}	
}
.adress__nav-btn__item{
	&.current{ 
		.adress__nav-btn__wrap{
			cursor: default;
			color: $white;
			background-color: $black;
		}
	}
	.ico{
		display: inline-block;
		padding: 0;
		vertical-align: middle;
		position: relative;
		-webkit-transition: none;
		transition: none;
	}
}
.adress__nav-btn_sheme{
	.ico{
		right: 8px;
		@include sprite('ico_52');
	}
	&.current{
		.ico{
			@include sprite('ico_53'); 
		}
	}
}
.adress__nav-btn_lists{
	.ico{
		right: 8px;
		@include sprite('ico_54');
	}
	&.current{
		.ico{
			@include sprite('ico_55');
		}
	}
}
.adress__nav-btn_map{
	display: none;
	.ico{
		right: 8px;
		@include sprite('ico_13');
	}
	&.current{
		.ico{
			@include sprite('ico_14');
		}
	}
}