.adress{
	margin-bottom: 70px;
}
.adress__map{
	height: 780px;
}

.adress__tbl-row{
	display: block;
}
.adress__tbl-cell{
	display: table-cell;
	width: 33%;
	vertical-align: top;
	padding-right: 20px;
	padding-bottom: 25px;
}
.adress__type{
	line-height: 20px;
	color: $gray;
}
.adress__metro{	
	line-height: 20px;
	.color{
		width: 8px;
		height: 8px;
		float: left;
		margin-top: 8px;
		border-radius: 5px;
	}
	.name{
		font-size: 14px;
		margin-left: 14px;
	}
	.red{
		background-color: $red;
	}
}
.adress__lnk{
	color: $blue;
	line-height: 20px;
	border-bottom: none;
	display: inline-block;
}
.adress__phone{
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.adress__subphone{
	font-size: 12px;
	line-height: 20px;
	color: $gray;
}
.adress__tbl-lnk{
	display: none;
}

.adress__nav{
	margin-bottom: 40px;
}
.adress__nav-select_wrap{
	position: relative;
	display: inline-block;
	height: 58px;
	width: 336px;
	vertical-align: middle;
	.styledSelect{
		height: 58px;
		width: 336px;		
	}
	.options{
		width: 336px;
	}
	.select__ico{
	    content: "";
	    position: absolute;    
	    display: inline-block;
	    border-radius: 6px;
		width: 12px;
        height: 12px;
        top: 24px;
	    left: 18px;
	    &.all{
	    	border-radius: 0;
	        top: 22px;
	        left: 18px;
	        width: 22px;
	        height: 15px;
	        background: transparent $sprite -264px 0 no-repeat;
	    }
	    &.orange{
	    	background-color: $orange;
	    }
	    &.gray{
	    	background-color: $gray;
	    }
	    &.blue{	        
	        background-color: $blue;
	    }
	}
}

.adress__nav-type{
	line-height: 20px;
	display: inline-block;
	margin-left: 144px;
	.text{
		font-size: 14px;
		vertical-align: middle;
		font-weight: bold;
	}
	.ico{
		vertical-align: middle;
		background: transparent url('../img/ico_09.png') left top no-repeat;
		width: 46px;
		height: 38px;
		margin: 0px 6px;
		display: inline-block;
	}
}
.adress__nav-btn__item{
	margin-left: 10px;
	font-size: 14px;
	display: inline-block;
	span{
		border-bottom: none;
		text-shadow: none;
	}
	.text{
		padding-bottom: 0;
		line-height: 24px;
		vertical-align: middle;
		font-size: 15px;
	}
	&:first-child{
		margin-left: 0;
	}	
}
.adress__nav-btn__item{
	&.current{ 
		.adress__nav-btn__wrap{
			cursor: default;
			color: $white;
			background: $black;
		}
	}
	.ico{
		background: transparent $sprite no-repeat;
		display: inline-block;
		padding: 0;
		vertical-align: middle;
		position: relative;
	}
}
.adress__nav-btn_sheme{
	.ico{		
		width: 16px;
		height: 24px;
		right: 8px;
		background-position: -298px 100%;
	}
	&.current{
		.ico{
			background-position: -298px 0;
		}
	}
}
.adress__nav-btn_lists{
	.ico{
		width: 24px;
		height: 18px;
		right: 8px;
		background-position: -320px 100%;
	}
	&.current{
		.ico{
			background-position: -320px 0;
		}
	}
}
.adress__nav-btn_map{
	display: none;
	.ico{
		width: 24px;
		height: 24px;
		right: 8px;
		background-position: -1045px 100%;
	}
	&.current{
		.ico{
			background-position: -1045px 0;
		}
	}
}