.form__tow-col {
	&.cols{
		margin-left: 0;
		font-size: 0;
		line-height: 0;
	}
	.field__row{
		padding: 0;
		margin: 0;
	}
	.field__cell{
		margin: 0 10px 16px;
	}
}

.form__register {
	margin-bottom: 30px;
	.b-capcha{
		.col--50{
			width: 50%;
		}
	}
}