#all{
	padding-bottom: 154px;
	padding-top: 177px;
}
.aside_right{
	display: none;
}
h1{
	font-size: 35px;
	line-height: 40px;
}
.search__menu{
	margin-bottom: 0;
}

.info__item{
	display: inline-block;
	font-size: 15px;
}