.chk-cust {
    display:none;
}
.chk-cust + .chk-cust__label .ico {
    display:inline-block;
    width:20px;
    height:20px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background-color: $lightGray;
    cursor:pointer;
}
.chk-cust:checked + .chk-cust__label .ico {
    background: $lightGray $sprite -380px -55px no-repeat;
}