.services__sub-title{
	margin-bottom: 40px;
	font-weight: normal;
}
.services__map{
	height: 220px;
	width: 100%;
}
.services__row{
	margin-bottom: 60px;
}
.services__col{
	padding: 0px 20px;
	vertical-align: top;
}
.services{
	h2{
		margin-top: -8px;
		margin-bottom: 20px;
	}
}
.services__content{
	p{
		margin-bottom: 40px;
	}
}
.services__pic{
	img{
		width: 100%;
		height: auto;
	}	
}
p.services__info{
	color: $black;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 20px;
}
.services__list_2-col{
	margin-top: 40px;
	li{
		width: 50%;
		float: left;
	}
}

.services__person {
	width: 70%;
	float: left;
	margin-bottom: 50px;
}
.services__person__pic{
	float: left;
	max-width: 174px;
	img{
		width: 100%;
		height: auto;
	}
}
.services__person__cont{
	margin-left: 208px;
	margin-top: -6px;
}
.services__person__cont{
	p{
		margin-bottom: 24px;
	}	
	.strong__text{
		font-size: 19px;
		margin-bottom: 16px;
	}
	.services__person__sub-info{
		a{			
			color: $gray;
			font-size: 16px;
			font-family: $openSans;
		}
		.ico{
			@include sprite('ico_58');
			width: 22px;
			height: 28px;
			display: inline-block;
			vertical-align: middle;
			padding-right: 10px;
		}
	}
}
.services__company{
	width: 30%;
	float: left;
	text-align: left;
	margin-bottom: 10px;
	padding-right: 20px;
	box-sizing: border-box;
}
.services__company__logo{
	margin-bottom: 6px;
}

.services__promo{
	display: table;
	margin-bottom: 72px;
}
.services__promo__pic{
	display: table-cell;	
	overflow: hidden;
	width: 40%;		
	img{
		display: inline-block;
		@include transition(width .25s, height .25s);
	}
}
.services__promo__pic_01{
	background: transparent url('../pic/pic_36.jpg') 50% 50% no-repeat;
	background-size: cover;
}
.services__promo__pic_02{
	background: transparent url('../pic/pic_44.jpg') 50% 50% no-repeat;
	background-size: cover;
}
.services__promo__wrap{
	display: table-cell;
	vertical-align: top;
	width: 60%;
}

.services__gallery-resp{
	padding: 40px 0 50px;
	margin-bottom: 62px;
	.slick-dost{
		display: none;
	}
	@include slickDots320();
}
.services__gallery-resp__list{
	margin-top: 34px;
    text-align: justify;

    /* Обнуляем для родителя*/
    line-height: 0;
    font-size: 1px; /* 1px для Opera */

    /* Лекарство для IE6-7*/
    text-justify: newspaper;
    zoom:1;

    /* Включаем в работу последнюю строку*/
    text-align-last: justify;
    &:after{
    	width: 100%;
        height: 0px;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
}
.services__gallery-resp__item{
    width: 142px;
    display: inline-block;
    text-align: left;

    /* Востанавливаем у потомков, кроме последнего*/
    line-height: 20px;
    font-size: 14px;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;

    /* эмуляция inline-block для IE6-7*/
    *display : inline;
    *zoom : 1;
    .pic{
    	margin-bottom: 22px;
    	position: relative;
    	&:before{
    		content: "";
    		position: absolute;
    		bottom: 0;
    		left: 50%;
    		background-color: $blue;
    		margin-left: -13px;
    		margin-bottom: -13px;
    		border-radius: 13px;
    		width: 26px;
    		height: 26px;
    	}
    	&:after{
    		content: "";
    		position: absolute;
    		@include sprite('ico_61');
    		bottom: 0;
    		left: 50%;
    		margin-left: -6px;
    		margin-bottom: -5px;
    	}
    	img{
    		display: inline-block;
    		vertical-align: bottom;
    	}
    }
    .title{
    	font-weight: bold;
    	color: $black;
    }
}
.services__gallery-resp__wrap{
	text-align: center;
}

.services__gallery_col-4{
	margin-bottom: 80px;
	.slick-dots{
		display: none;
	}
	@include slickDots320();
}
.services__gallery_col-4__title{
	text-align: center;
}
.services__gallery_col-4__list{
	margin-top: 54px;
}
.services__gallery_col-4__item{
	text-align: center;
	padding-bottom: 40px;
	box-sizing: border-box;
	position: relative;
	vertical-align: baseline;
	.title{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		font-weight: bold;
		text-transform: uppercase;
	}
}
.services__info_bottom{
	padding: 112px 200px 0;
	text-align: center;
	margin-bottom: 120px;
	position: relative;
	p{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 16px;
	}
	.button{
		padding-right: 40px;
		padding-left: 40px;
		margin-top: 20px;
	}
}
.services__info_bottom-ico_feet{
	&:before{
		content: "";
		position: absolute;
		top: 22px;
		left: 50%;
		margin-left: -37px;
		@include sprite('ico_60');
	}
}