#all{
	padding-top: 128px;
	padding-bottom: 324px;
}
.inside{
	min-width: 280px;
	max-width: 450px;
}

.button{
	padding: 12px 44px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.aside_right{
	display: none;
}
.breadcrumbs{
	padding-top: 24px;
	margin-bottom: 18px;
}
.breadcrumbs__item{
	padding: 0px 8px;
}
h1{
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 26px;
}
.title__h1_s2{
	font-size: 20px;
	line-height: 26px;
	padding: 6px 20px;
}

.search__menu{
	margin-bottom: 8px;
}
.search__menu_btn{
	display: none;
}
.search__menu_field{
	width: 100%;
	margin-left: 0;
}
.search__menu_item {
	p{
		display: none;
	}
}
.paginator{
	text-align: center;
}