#all{
	padding-top: 128px;
	padding-bottom: 324px;
}
.inside{
	min-width: 280px;
	max-width: 450px;
}
.button{
	padding: 8px 12px;
}

.aside_right{
	display: none;
}
.breadcrumbs{
	padding-top: 24px;
	margin-bottom: 18px;
}
h1{
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 26px;
}