.dvnt{
	position:relative;
	margin-bottom: 50px;
}
.dvnt__title{
	text-align: center;
	position: relative;
	top: -26px;
	z-index: 10;
	margin: 0;
	margin-bottom: 16px;
}
.dvnt__title_sub-title{
	display: inline-block;
	background-color: $white;
	padding: 0 20px;
}
.dvnt-wrap{
	position:relative;
	border:5px solid $orange;
	padding-bottom: 14px;
}
.dvnt-oh{
	padding: 0px 24px 0px 104px;
}
.dvnt-image{
	height:70px;
	line-height:70px;
	position:relative
}
.dvnt-item{
	width:80%;
	font-size:15px;
	line-height:22px;
	font-weight:bold;
	padding-bottom:40px
}