.faqmain{
	position:relative;
	overflow:hidden;
}
.faqmain__title{
	margin-bottom: 40px;
}
.faqmain .cols{
	position:relative;
	margin-left: -11px;
	margin-right: -15px;
}
.faqmain .cols a{
	color:#1466a2;
	border-color:#1466a2;
	border-color:rgba(10,100,165,0.2)
}
.faqmain .cols a:hover{
	color:#f3a942;
	border-color:#f3a942;
	border-color:rgba(240,170,50,0.4)
}
.faqmain-item{
	border:1px solid #efefef;
	border-radius:15px;
	padding:32px 36px 94px;
	margin: 0px 15px 42px;
}
.faqmain-number{
	font-weight:bold;
	font-size:13px;
	margin-bottom: 8px;
}
.faqmain-question{
	font-size:14px;
	line-height:22px;
	margin-bottom: 30px;
}
.faqmain-answer{
	background: #f8f5f1;
	  border-radius: 10px;
	  font-size: 14px;
	  line-height: 22px;
	  position: relative;
	  padding: 30px 30px 20px;
}
.faqmain-answer:after{
	content:' ';
	display:block;
	position:absolute;
	background:url(../img/bubble.png) no-repeat;
	width:90px;
	height:32px;
	right:20px;
	bottom:-30px
}
.faqmain-doctor{
	position: absolute;
	bottom: -65px;
	right: 104px;
	font-size: 13px;
	line-height: 18px;
	height: 42px;
}
.faqmain-name{
	font-weight:bold;
	position:relative;
	display:block
}
.faqmain-position{
	color:#6e6e6e
}
.faqmain-photo{
	position:absolute;
	bottom:0;
	left:-60px;
	width:50px;
	height:50px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	overflow:hidden;
	line-height:0
}
.faqmain-photo img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto
}