.panoram{
	position: relative;
	background: url(../img/girl.jpg) 54% 0 no-repeat;
	background-size: cover;
	margin-bottom: 64px;
	min-height: 727px;
}
.panoram__content{
	position: absolute;
	right: 0px;
	top: 155px;
	width: 50%;
	display: inline-block;
}
.panoram__title{
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 20px;
	width: 50%;
	margin-top: -56px;
	letter-spacing: 0;
	text-transform: uppercase;
}
// @media (max-width:1024px) {
// 	.panoram__title{
// 		font-size: 34px;
// 	}
// }
.panoram__sub-title{
	font-size:18px;
	line-height:24px;
	font-weight:600;
	width: 60%;
	font-family: $HelveticaNeueBold;
}
.panoram__list{
	font-size:15px;
	line-height:24px;
	margin-top:25px;
	margin-bottom:35px;
	font-family: $HelveticaNeue;
}
.panoram__item{
	margin-bottom:10px;
}