.promoslider__cont + .maincat{
	margin-top: 0px;
}
.promoslider__cont{
	overflow: hidden;
}
.promoslider{
	width: 100%;
	.slick-list{
		overflow: visible;
	}
	.slick-slide{		
		position: relative;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			width: 100%;
			background-color: $white;
			opacity: 0.7;
			@include transition(opacity .4s);
		}
		&.slick-active:after{
			opacity: 0;
		}
	}
	.slick-prev,
	.slick-next{
		border: 1px solid rgba(255, 255, 255, 0.4);		
		background-color: transparent;
		position: absolute;
		width: 50px;
		height: 50px;
		border-radius: 26px;
		outline: none;
		top: 50%;
		margin-top: -46px;
		z-index: 7;
		cursor: pointer;
		@include linkTextOffscreen;
		@include transition(background-color .25s, border-color .25s);
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -4px;
			margin-top: -8px;
		}
		&:hover{
			background: $orange;
			border-color: $orange;
		}
	}
	.slick-prev{
		left: 20px;
		&:before{
			@include sprite('ico_07');
		}
	}
	.slick-next{
		right: 20px;
		&:before{
			@include sprite('ico_06');
		}
	}
	.slick-dots{
		position: absolute;
		bottom: 38px;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 9;
		opacity: .7;
		@include transition(opacity .25s);
		&:hover{
			opacity: 1;
		}
		li{
			display: inline-block;
			margin: 0 5px;
			width: 8px;
			height: 8px;
		}
		button{
			width: 8px;
			height: 8px;
			outline: none;
			cursor: pointer;			
			border-radius: 4px;
			background: #fff;
			padding: 0;
			text-indent: -9999px;
			font-size: 0;
			text-align: start;
			border: none;
		}
		.slick-active{
			button{
				background: $orange;
				cursor: default;
			}			
		}
	}
}


.promoslider__wrap{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 40%;
	&:before{
		content: "";
		height: 100%;
		width: 0;
		line-height: 100%;
		vertical-align: middle;
		display: inline-block;
	}
}
.promoslider__text{	
	color:#fff;
	font-size:40px;
	font-weight: normal;
	letter-spacing:.5px;
	font-family:'Open Sans'; 
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	width:300px;
	opacity: 0;
	position: relative;
	@include transition(opacity .4s);
	&:after{
		content:'';
		display:block;
		position:absolute;
		width:55px;
		height:6px;
		background:$orange;
		bottom: 100%;
		left:5px;
		margin-bottom: 30px;
	}
}
.slick-active{
	.promoslider__text{
		opacity: 1;
	}
}
.promophone_mob{
	display: none;
}