.register{
	margin-bottom: 60px;
}
.delivery{
	margin-bottom: 80px;
}
.delivery__ico-post{
	margin-top: -10px;
	font-size: 0;
	line-height: 0;
	img{
		width: 55%;
		height: auto;
		max-width: 151px;
	}
	.text{
		width: 45%;
		padding-left: 5%;
		line-height: 15px;
		font-size: 12px;
		box-sizing: border-box;
	}
}

.delivery_row{
	padding: 28px 0;
}
.delivery{
	textarea{
		height: 138px;
	}
}
.form__tow-col .field__row{
	margin-top: 0;
}