.header__wrap{
	padding: 20px 0 10px;
}
.header__left {
	width: 45%;
	.logo{
		max-width: 250px;
		min-width: 164px;
		margin-bottom: 10px;
	}
}
.header__right{
	padding-top: 0;
	margin-bottom: 10px;
	.profile-btn{
		display: none;
	}
	.basket-btn{
		position: absolute;
		right: 20px;
		top: 20%;
	}
}

.mainmenu__buttons_fr{
	width: auto;
	max-width: none;
	float: none;
	margin: 0px -10px;
}

.basket-btn__cont,
.header__contact,
.mainmenu__list{
	display: none;
}

.mainmenu{
	position: static;
	top: 0;
	padding: 0;
	padding-bottom: 12px;
}
.mainmenu__buttons_fr-wrap{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	.button{
		display: block;
		margin: 0px 10px;
		padding: 10px 6px;
		font-size: 14px;
		text-align: center;
		font-weight: normal;
		text-transform: none;
		box-sizing: border-box;
	}
	img{
		margin-right: 6px;
	}
}
.mainmenu__btn-all{
	position: absolute;
	top: 20%;
	right: 80px;
	display: inline-block;
	.ico{
		padding: 0;
		@include sprite('ico_18');
		vertical-align: baseline;
	}
	.text{
		display: none;
	}
	.button{
		padding: 12px 14px 13px;
		line-height: 1;
	}
}
.basket-btn__badge{
	background-color: $lightGray;
	border-radius: 4px;
	padding: 4px 10px;
	.pic{
		@include sprite('ico_76');
		padding-bottom: 1px;
	}
}

.promophone_mob{
	display: block;
	background-color: $dark;
	text-align: center;
	padding: 4px 0;
	width: 100%;
	min-width: 320px;
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 0;
}
.promophone__phone{
	display: inline-block;
	.ico{
		display: inline-block;
		@include sprite('ico_03');
		margin-right: 10px;
	}
	.text{
		color: $white;
		font-size: 16px;
		line-height: 24px;
	}
}