.promoslider__cont {
	.inside{
		padding: 0;
	}
}
.promoslider__slide{
	max-height: 440px;
	img{
		width: 160%;
		height: auto;
	}
}
.promoslider__wrap{
	width: 80%;
}
.promoslider__text{
	width: 80%;
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 0;
	&:after{
		margin-bottom: 18px;
		width: 36px;
		height: 4px;
	}
}

.hits__slider{
	display: none;
}


.panoram{
	position: relative;
	background-position: 26% 0;
	min-height: 410px;
	margin-bottom: 368px;
	.inside{
		height: 410px;
	}
}
.panoram__content{
	width: 100%;
	top: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
.panoram__title{
	font-size: 20px;
	line-height: 26px;
	margin: 16px auto 14px;
	width: 100%;
}
.panoram__sub-title{
	width: 100%;
	font-size: 15px;
	line-height: 24px;
}
.panoram__list{
	margin-top: 15px;
}

.stock__slider{
	width: 100%;
	height: auto;
	padding-bottom: 72px;
	border-right: none;

	.slick-dots{
		bottom: 28px;
	}
	@include slickDots320();
}
.stock__image{
	width: 100%;
	text-align: center;
	line-height: 310px;
	height: 100%;
	padding: 0;
	img{
		width: 75%;
		height: auto;
	}
}
.stock__text{
	width: 100%;
	top: 0;
	padding: 0px 40px;
	box-sizing: border-box;
}
.stock__title_wrap{
	width: 100%;
}
.stock__title{
	font-size: 20px;
	line-height: 26px;
	outline: $orange solid 4px;
}


.product__news{
	padding: 20px 0;
	text-align: center;
}
h3.product__sub-title{
	margin-bottom: 20px;
}
.product__news-slider {
	margin-bottom: 40px;
	.price{
		font-size: 18px;
		.rouble{
			font-weight: bold;
		}
	}
	.slick-prev{
		right: auto;
		left: 0;
		top: 40px;
	}
	.slick-next{
		left: auto;
		right: 0;
		top: 40px;
	}
}

.dvnt{
	margin-bottom: 20px;
	padding-bottom: 0;
}
.dvnt-oh{
	padding: 10px 24px 0;
	.col--25{
		width: 100%;
	}
}
.dvnt__title{
	top: -26px;
	width: 100%;
}
.dvnt__title_sub-title{
	padding: 0 10px;
	font-size: 25px;
	line-height: 30px;
	width: 80%;
}
.dvnt-item{
	width: 100%;
	text-align: center;
	padding-bottom: 34px;
}
.dvnt-image{
	height: 54px;
	line-height: 54px;
}


.faqmain{
	margin-bottom: 24px;
	.cols{
		margin: 0;
	}
	.col--50{
		width: 100%;
		margin: 0;
	}
}
.faqmain__title{
	font-size: 30px;
	margin-bottom: 14px;
	text-align: center;
}
.faqmain-item{
	padding: 28px 34px 104px;
	margin: 0;
}
.faqmain-question{
	margin-bottom: 26px;
}
.faqmain-answer{
	padding: 24px 20px 20px;
	margin: 0 -20px 0;
}
.faqmain-doctor{
	bottom: auto;
	right: auto;
	left: 70px;
	top: 100%;
	margin-top: 36px;
}


.video_main{
	padding-top: 18px;
	padding-bottom: 44px;
	.slick-dots{
		bottom: -20px;
	}
	h2{
		text-align: center;
	}
	.cols{
		padding-bottom: 24px;
	}
	.col{
		margin-bottom: 0;		
	}
}
.video-poster{
	width: 100%;
	margin: 0 auto;
}
.video-footer{
	bottom: 18px;
	left: 0;
	width: 100%;
	font-size: 11px;
	text-align: center;
}

.usfl{
	padding-top: 30px;
	h2{
		text-align: center;
	}
	.cols{
		padding-bottom: 15px;
	}
}
.usfl-poster{
	width: 100%;
	margin: 0 auto;
}
.usfl-footer{
	bottom: 18px;
	left: 0;
	width: 100%;
	font-size: 11px;
	text-align: center;
}

.video_main,
.usfl{
	@include slickDots320();
}


.about-promo{
	.col--75{
		display: none;
	}
	.col--25{
		width: 100%;
	}
}
.news-aside__link{
	border: none;
}