.promoslider__slide {
	img{
		width: 240%;
		height: auto;
	}
}
.promoslider__text{
	width: 200px;
	margin-left: -100px;
	left: 50%;
	font-size: 26px;
	line-height: 32px;
	bottom: 114px;
	&:before{
		margin-bottom: 18px;
		width: 36px;
		height: 4px;
	}
}

.hits__slider{
	display: none;
}


.panoram{
	position: relative;
	background-position: 26% 0;
	min-height: 410px;
	margin-bottom: 368px;
	.inside{
		height: 410px;
	}
}
.panoram__content{
	width: 100%;
	top: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
.panoram__title{
	font-size: 20px;
	line-height: 26px;
	margin: 16px auto 14px;
	width: 100%;
}
.panoram__sub-title{
	width: 100%;
	font-size: 15px;
	line-height: 24px;
}
.panoram__list{
	margin-top: 15px;
}

.stock__slider{
	width: 100%;
	height: auto;
	padding-bottom: 72px;
	border-right: none;
	border-bottom: 1px solid #dadada;

	.slick-dots{
		position: absolute;
		bottom: 38px;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 9;
		opacity: .7;
		@include transition(opacity .25s);
		&:hover{
			opacity: 1;
		}
		li{
			display: inline-block;
			margin: 0 5px;
			width: 8px;
			height: 8px;
		}
		button{
			width: 8px;
			height: 8px;
			outline: none;
			cursor: pointer;
			border-radius: 4px;
			background: $gray;
			padding: 0;
			text-indent: -9999px;
			font-size: 0;
			text-align: start;
			border: none;
			vertical-align: top;
			vertical-align: top;
		}
		.slick-active{
			button{
				background: $orange;
				cursor: default;
			}			
		}
	}
}
.stock__image{
	width: 100%;
	text-align: center;
	line-height: 310px;
	height: 100%;
	padding: 0;
	img{
		width: 75%;
		height: auto;
	}
}
.stock__text{
	width: 100%;
	top: 0;
	padding: 0px 40px;
	box-sizing: border-box;
}
.stock__title_wrap{
	width: 100%;
}
.stock__title{
	font-size: 20px;
	line-height: 26px;
	outline: $orange solid 4px;
}


.product__news{
	padding: 20px 0;
	text-align: center;
}
h3.product__sub-title{
	margin-bottom: 10px;
}
.product__news-slider {
	margin-bottom: 40px;
	.price{
		font-size: 18px;
	}
	.slick-prev{
		right: auto;
		left: 0;
	}
	.slick-next{
		left: auto;
		right: 0;
	}
}

.dvnt{
	margin-bottom: 20px;
	padding-bottom: 0;
}
.dvnt-oh{
	padding: 10px 24px 0;
	.col--25{
		width: 100%;
	}
}
.dvnt__title{
	top: -20px;
	width: 80%;
	margin: 0 auto;
}
.dvnt__title_sub-title{
	padding: 0;
	font-size: 25px;
	line-height: 30px;
}
.dvnt-item{
	width: 100%;
	text-align: center;
	padding-bottom: 34px;
}
.dvnt-image{
	height: 54px;
	line-height: 54px;
}


.faqmain{
	margin-bottom: 24px;
	.cols{
		margin: 0;
	}
	.col--50{
		width: 100%;
		margin: 0;
		display: none;
		&:first-child{
			display: block;
		}
	}
}
.faqmain__title{
	font-size: 30px;
	margin-bottom: 14px;
	text-align: center;
}
.faqmain-item{
	padding: 28px 34px 104px;
	margin: 0;
}
.faqmain-question{
	margin-bottom: 26px;
}
.faqmain-answer{
	padding: 24px 20px 20px;
	margin: 0 -20px 0;
}
.faqmain-doctor{
	bottom: auto;
	right: auto;
	left: 70px;
	top: 100%;
	margin-top: 36px;
}


.video_main{
	padding-top: 18px;
	h2{
		text-align: center;
	}
	.cols{
		padding-bottom: 24px;
	}
	.col{
		margin-bottom: 0;		
	}
	.video-footer{
		bottom: 18px;
		font-size: 11px;
	}
}

.usfl{
	padding-top: 30px;
	h2{
		text-align: center;
	}
	.cols{
		padding-bottom: 15px;
	}
}

.video_main,
.usfl{
	.slick-dots{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 9;
		opacity: .7;
		@include transition(opacity .25s);
		&:hover{
			opacity: 1;
		}
		li{
			display: inline-block;
			margin: 0 5px;
			width: 8px;
			height: 8px;
		}
		button{
			width: 8px;
			height: 8px;
			outline: none;
			cursor: pointer;
			border-radius: 4px;
			background: $gray;
			padding: 0;
			text-indent: -9999px;
			font-size: 0;
			text-align: start;
			border: none;
			vertical-align: top;
		}
		.slick-active{
			button{
				background: $orange;
				cursor: default;
			}			
		}
	}
}


.about-promo{
	.col--75{
		display: none;
	}
	.col--25{
		width: 100%;
	}
}
.news-aside__link{
	border: none;
}