.promoslider__cont + {
	.maincat{
		margin-top: 1px;
	}
}
.maincat{
	.col--25,
	.col--33{
		width: 50%;
	}
	&.col--75{
		width: 100%;
	}
}
.maincat__image{
	img{
		width: 70%;
		max-width: 114px;
		height: auto;
	}
}
.maincat__title{
	font-size: 13px;
	padding-bottom: 12px;
	max-width: 100%;
	overflow: hidden;
}
.maincat__toall{
	font-size: 22px;
	line-height: 24px;
}
.maincat__item{
	.text{
		&:before{
			bottom: 4px;
			margin-left: 10px;
			@include sprite('ico_77');
		}
	}
	&:hover{
		.text{
			&:before{
				@include sprite('ico_80');
			}
		}	
	}
}