.product{
	padding: 0;
	margin-bottom: 14px;
	margin-top: 0px;
	.breadcrumbs{
		display: none;
	}
	&.clearfix{
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
.product__info{
	width: 100%;
}
.product__aside{
	width: 100%;
	position: relative;
	margin-left: 0;
	&.pl20{
		padding: 0;
	}
}

.product__flag_new{
	display: none;
}

.product__slider-for{
	width: 100%;
	margin: 0;
	margin-bottom: 30px;
	img{
		max-width: 280px;
		width: 100%;
		height: auto;
	}
	.slick-slide{
		line-height: 180px;
		margin-top: 0;
	}
}

.product__slider-nav{
	position: relative;
	top: 0;
	height: auto;
	width: 200px;
	margin: 0px auto;
	display: block;
	.slick-slide{
		.wrap{
			width: 50px;
			height: 54px;
			padding: 0;
		}
		.cont{
			width: auto;
			height: 48px;
			line-height: 38px;
			padding: 2px;
		}
	}
}
.product__info-nav{
	display: none;
}

.product__achieve-list{
	font-size: 0;
	line-height: 0;
}
.product__achieve-item{
	display: inline-block;
	width: 25%;
	margin: 0;
	p{
		font-size: 10px;
		line-height: 13px;
		font-weight: bold;
		color: $gray;
	}
}

.product__settings{
	padding: 20px 10px;
	margin-bottom: 0;
	.product__settings-btn{
		text-align: center;
	}	
}
.product__sizes-title{
	margin-bottom: 16px;
}
.product__sizes-list{
	width: 100%;
	margin-bottom: 14px;
}
.product__amount{
	margin-bottom: 16px;
	margin-left: 8px;
	display: block;
}
.product__amount-wrap{
	margin-left: 20px;
}
.product__color{
	margin-left: 8px;
	display: block;
}
.product__color-wrap{
	margin-left: 40px;
}
.product__price{
	margin-bottom: 24px;
}

.product__brand{
	position: absolute;
	bottom: 100%;
	width: 100%;
	text-align: center;
	background-color: $white;
	box-sizing: border-box;
	img{
		width: auto;
		height: 100%;
		max-height: 80px;
	}
}

.product__achieve{
	display: none;
}
.product__help{
	display: none;
}
.product__help-cont{
	margin-left: 90px;
	margin-top: 0;
	h3{
		font-size: 16px;
		line-height: 24px;
	}
	p{
		font-size: 13px;
		line-height: 20px;
	}
}
.product__help_video{
	.product__help-pic{
		float: none;
		margin: 0 auto 16px;
	}
	.product__help-cont{
		margin: 0;
	}
}

h3.product__sub-title{
	font-size: 30px;
	line-height: 40px;
	text-align: center;	
}


.product-catalogue{
	width: 100%;
	.card{
		&.col--33{
			width: 50%;
		}
		.card__image img{
			width: 100%;
			max-width: 180px; 
		}
	}
	.search__menu{
		position: absolute;
		top: 20px;
		left: 0;
		padding: 0;
		width: 100%;
	}
	.search__menu_field{
		margin-left: 20px;
		margin-right: 20px;
		width: auto;
	}
	.card__text{
		margin-bottom: 14px;
	}
	.card__title{
		font-size: 13px;
		font-weight: 500;
		margin: 0;
		width: 100%;
	}
	.card__brand{
		margin-bottom: 10px;
		.title{
			display: none;
		}
	}
}
.product-catalogue__row{
	margin: 0;
}
h4.product__sub-title{
	margin-left: 0;
	line-height: 20px;
	display: none;
}
.product__sub-card__list{
	margin: 0;
	width: auto;
	max-width: none;
	margin: 0px -10px;
	font-size: 0;
	line-height: 0;
	&.slick-slider{
		margin: 0;
		.card__image{
			img{
				max-width: 175px;
			}
		}	
	}
	.card{
		margin-left: 0;
		margin-bottom: 20px;
	}
	.card__image{
		height: 140px;
		line-height: 140px;
		margin-bottom: 50px;
	}
	.slick-dots{
		bottom: 40px;
	}
	@include slickDots320();
	.card__wrap{
		padding-bottom: 54px;
		margin: 0 5px;
	}
}
.card__info {
	p{
		font-size: 14px;
		line-height: 20px;
	}
}
.card__title{
	font-size: 16px;
	line-height: 22px;
}
.card__brand{
	font-size: 13px;
	line-height: 20px;
}
.card__price{
	font-size: 22px;
	line-height: 20px;
}

.product__filter_mob{
	display: block;
}
.product__filter_mob-list{
	font-size: 0;
	line-height: 0;
	margin: 0px -7px;
}
.product__filter_mob-item{
	display: inline-block;
	width: 50%;
	text-align: center;
	margin-bottom: 14px;
	.button{
		display: block;
		margin: 0px 7px;
		padding: 8px 4px;
		font-size: 13px;
		line-height: 20px;
		text-transform: none;
		color: $white;
		background-color: $gray2;
		span{
			border: none;
		}
		&.button--orange{
			background-color: $orange;
		}
	}
}


.product__row{
	&.brd{
		border: none;
	}
	.pl20:first-child{
		padding-left: 20px;
	}
} 	


.inside_fix{
	.title__h1_s2{
		min-width: 280px;
		max-width: 450px;
		margin: 0 auto 26px;
		padding: 20px 20px 0;
	}
	.product__info,
	.product__settings-wrap{
		min-width: 280px;
		max-width: 450px;
		margin: 0 auto;
		display: block;
		padding: 0 20px;
	}
	.product__info{
		padding-bottom: 80px;
	}	
}


.product__category{
	width: 80%;
}
.product__category-item{
	width: 100%;
}