.adress__nav-select_wrap{
	width: 100%;
}
.adress__nav-select_wrap{
	.styledSelect{
		width: 100%;
		height: 100%;
	}
	.options{
		width: 100%;
	}
}
.adress__nav-type{
	display: none;
}

.adress__nav-btn__list{
	position: relative;
	margin: 18px -10px 0;
	line-height: 0;
	font-size: 0;
	&.fr{
		float: none;
	}
}
.adress__nav-btn__item{
	width: 50%;
	display: inline-block;
	margin: 0;
	text-align: center;
	.ico{
		right: 8px;
	}
	.text{
		font-size: 15px;
		text-transform: none;
		font-weight: normal;
	}
}
.adress__nav-btn__wrap{
	margin: 0px 10px;
	padding: 18px 25px;
	display: block;
}
.adress__nav-btn_sheme{
	display: none;
}

.adress__map{
	width: 100%;
	height: 400px;
	display: none;
}
.adress__tbl{
	width: 100%;
}
.adress__tbl-row{
	min-height: 240px;
	line-height: 240px;
	text-align: center;
	border: 1px solid $lightGray;
	margin-top: -1px;
	&:first-child{
		margin-top: 0;
	}
	&:focus{
		background-color: $dark;
		color: $white;
		.adress__lnk{
			color: $orange;
			border-bottom: 1px solid $orange;
			border-bottom: 1px solid rgba(243, 169, 66, 0.4);
		}
	}
}
.adress__tbl-wrap{
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	width: 70%;
}
.adress__tbl-cell{
	display: block;
	width: 100%;
	padding: 0;
}
.adress__type{
	margin-top: -10px;
}
.adress__metro{
	display: inline-block;
	margin-bottom: 20px;
}
.adress__lnk{
	display: inline;
	margin-bottom: 18px;
	border-bottom: 1px solid $blue;
	border-bottom: 1px solid rgba(19, 118, 186, 0.4);
}
.adress__phone{
	margin-top: 18px;
	margin-bottom: 6px;
}
.adress__subphone{
	line-height: 14px;
}