.video{
	position:relative;	
	margin-bottom: 80px;
	-webkit-font-smoothing:antialiased
}
.video_main{
	padding-top:70px;
	margin-bottom: 0;
}
.video_main{
	.cols{
		padding-top:23px;
		padding-bottom:18px;
	}	
}
.video{
	.col{
		margin-bottom: 20px;
	}
}
.video_main{
	.col{
		margin-bottom: 0;
	}
}
.video-item{
	width: 94%;
	position:relative;
	background: $white;
	border-radius:10px;
	border: 1px solid #eaeaea;
}
.video-wrap{
	position:relative;
	height:auto;
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-ms-border-radius:10px 10px 0 0;
	-o-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	overflow:hidden;
	cursor:pointer;
	line-height:0;
	overflow: hidden;

}
.video-wrap:before{
	content:' ';
	display:block;
	position:absolute;
	left:0;
	top:0;
	background:url(../img/corner-lt--w.png) no-repeat;
	width:7px;
	height:7px;
	z-index:10
}
.video-wrap:after{
	content:' ';
	display:block;
	position:absolute;
	right:0;
	top:0;
	background:url(../img/corner-rt--w.png) no-repeat;
	width:7px;
	height:7px;
	z-index:10
}
.video-poster{
	position:relative;
	width:100%;
	height:auto
}
.video-content{
	padding:16px 25px 25px 25px
}
.video-title{
	text-align:center;
	font-size:16px;
	line-height:24px;
	font-weight:bold
}
.video-text{
	font-size:13px;
	line-height:20px;
	padding-top:10px;
	text-align:center;
	padding-bottom:40px
}
.video-footer{
	position: absolute;
	bottom: 25px;
	left: 25px;
}
.vide-footer{
	color:#787878;
	font-size:12px;
	font-family:'PFDinDisplayPro',Verdana,sans-serif
}
.video-clock{
	background:url(../img/ic-clock.png) no-repeat left center;
	padding-left:20px;
	height:20px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	*zoom:1;
	*display:inline;
	margin-right:-4px;
	margin-right:15px;
	color:#787878
}
.video-eye{
	background:url(../img/ic-eye.png) no-repeat left center;
	padding-left:26px;
	height:20px;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	*zoom:1;
	*display:inline;
	margin-right:-4px;
	margin-right:0;
	color:#787878
}
.video-play{
	background:url(../img/ic-play.png) no-repeat;
	width:68px;
	height:68px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	max-width:100%;
	max-height:auto;
	margin:auto
}

.video-wrap .video-play{
	-webkit-transform:scale(1);
	transform:scale(1);
	-webkit-transition:-webkit-transform .4s;
	transition:transform .4s
}
.video-wrap:hover .video-play{
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition:-webkit-transform .4s;
	transition:transform .4s
}
.video-im{
	width:90px;
	height:90px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	position:relative;
	overflow:hidden;
	float:left;
	background:#f8f8f8
}
.video-li{
	color:#f3a942;
	display:block;
	position:relative;
	border:0;
	-o-transition:all .35s;
	-ms-transition:all .35s;
	-moz-transition:all .35s;
	-webkit-transition:all .35s;
	transition:all .35s
}
.video-li:hover .video-span{
	color:#000;
	-o-transition:all .35s;
	-ms-transition:all .35s;
	-moz-transition:all .35s;
	-webkit-transition:all .35s;
	transition:all .35s
}
.video-span{
	color:#f3a942;
	margin-left:110px;
	max-width:150px;
	padding-top:25px
}

.video__player__cont{
	width: 100%;
	padding-bottom: 64px;
	margin-bottom: 100px;
	margin-bottom: 56px;
	border-bottom: $brdLnk5;
}
.video__player{	
	margin-bottom: 28px;
	iframe{
		width: 100%;
	}
}
.video__player__sub{
	p{
		color: $black;
		float: left;
		line-height: 22px;
		width: 66.6%;
	}
}
.video__player__chanel{
	float: right;
	border-radius: 6px;
	overflow: hidden;
	.ico{
		width: 60px;
		height: 60px;
		background-color: #dcd9d4;
		position: relative;		
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 11px 0 11px 22px;
			border-color: transparent transparent transparent #ffffff;
			margin-top: -11px;
			margin-left: -11px;
			transform: scale(1);
			@include transition(transform .5s);
		}
	}
	.b-lnk{
		background-color: $lightGray;
		margin-left: 60px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 20px;
		span{
			color: $dark;
			border-bottom: $brdLnk3;
			@include transition(color .25s, border-bottom .25s);
		}
	}
	&:hover{
		.b-lnk{
			span{
				color: $black;
				border-bottom-color: transparent;
			}
		}		
		.ico{
			&:after{
				transform: scale(1.2);
			}
		}
	}
}

.video__nav{
	text-align: center;
	margin-bottom: 20px;
}
.video__dots{
	display: inline-block;
	margin-top: 8px;
}
.video__dots__item{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin: 0px 5px;
	background-color: $white;
	border-radius: 5px;
	background-color: $lightGray;
	&.current{
		background-color: $orange;
	}
}
.video__arrs{
	float: right;
}
.video__arrs__lnk{
	width: 38px;
	height: 38px;
	border-radius: 19px;
	display: inline-block;
	overflow: hidden;
	margin-left: 10px;
	vertical-align: bottom;
	&:first-child{
		margin-left: 0;
	}
}
.video__arr_left{
	background: $lightGray $sprite -202px 11px no-repeat;
}
.video__arr_right{
	background: $lightGray $sprite -224px 11px no-repeat;
}