.about{
	padding-top:60px;
}
.about h2{
	font-family:'Open Sans',sans-serif;
	margin-bottom:22px;
}
.about{
	.promo__txt{
		display:block;
		font-size:18px;
		line-height:30px;
		margin-bottom:18px;
	}
}
.about p{
	margin-bottom:20px;
	line-height: 20px;
}
.about-side{
	margin-left:20px;
	margin-right:0;
	position:relative
}
.about-side h2{
	margin-bottom:25px
}
.about-content{width:92%
}