.about{
	padding-bottom:70px;
	padding-top:59px
}
.about h2{
	font-family:'Open Sans',sans-serif;
	margin-bottom:20px
}
.about big{
	margin-bottom:20px;
	display:block;
	font-size:18px;
	line-height:30px
}
.about p{
	margin-bottom:20px
}
.about-side{
	margin-left:20px;
	margin-right:0;
	position:relative
}
.about-side h2{
	margin-bottom:25px
}
.about-content{width:92%
}