.news-aside{
	font-size:13px;
	line-height:20px;
}
.news-aside li{
	margin-bottom:32px;
}
.news-aside__link{
	font-size:14px;
	line-height:20px;
	font-weight:bold;
}
.news-aside__date{
	font-size:12px;
	line-height:22px;
	color:#9e9e9e;
	padding-bottom:2px;
}
.news-aside__summary{
	padding-top:5px;
}