.aside{		
	box-sizing: border-box;
}
.aside_right{
	padding: 0 20px 0 64px;
	margin-top: 86px;
}
.aside_left{
	margin-top: 30px;
}
.aside__title{
	font-size: 20px;
	line-height: 1;
	color: $black;
	margin-bottom: 14px;
}

.aside__menu{
	margin-bottom: 46px;
	.aside__menu_list{
		margin: 0;
	}
	.aside__menu_item{		
		border-bottom: 1px solid $lightGray;		
	}
	.aside__menu_lnk{
		padding: 19px 0;
		position: relative;
		border: none;		
		display: block;
		color: $black;
	}
	.aside__menu_lnk:hover .brd{
		border-bottom: 1px solid $black;
		color: $black;
	}
	.aside__menu_lnk.active .brd{
		border-bottom: 1px solid transparent;
		color: $blue;
		font-weight: bold;
	}
	.aside__menu_lnk.active:hover .brd{
		border-bottom: 1px solid transparent;
	}
	.aside__menu_lnk{
		&:before{
			content: "";
			@include sprite('ico_21');
			display: inline-block;
			vertical-align: middle;
			margin-right: 22px;
		}
		&:hover:before{
			@include sprite('ico_22');
		}
	}
}

.aside__info{
	padding: 10px 0;
	margin-bottom: 46px;
	box-sizing: border-box;
	.aside__info_title{
		color: $black;
		font-size: 14px;
		line-height: 22px;
		text-transform: uppercase;
	}
	.aside__info_text{
		color: $black;
		font-size: 12px;
		line-height: 18px;
	}
	.aside__info_lnk{
		color: $blue;
		font-size: 12px;
		line-height: 28px;
		text-transform: uppercase;
		font-weight: bold;
		border-bottom: $brdLnk1;
	}
	.aside__info_lnk:hover{
		color: $orange;
		border-bottom: $brdLnk2;
	}
}
.aside__info_quest{
	.aside__info_pic{
		display: inline-block;
		@include sprite('ico_19');
		margin-left: 24px;
		margin-bottom: 20px;
	}
}
.aside__info_courier{
	.aside__info_pic{
		display: inline-block;
		margin-bottom: 24px;
		@include sprite('ico_20');
	}
}


.aside-filter{
	border-radius: 4px;
	overflow: hidden;
}
.aside-filter__wrap{
	padding-top: 22px;
	padding-bottom: 22px;
	background-color: $white;
}
.aside-filter__title{
	.button{
		display: block;
		position: relative;
		padding: 12px 22px;
		text-transform: uppercase;
		font-size: 14px;
		color: $white;
		background-color: $blue;
		box-sizing: border-box;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.ico{
		display: inline-block;
		@include sprite('ico_56');
		position: absolute;
		top: 15px;
		right: 20px
	}
}
.aside-filter__form{
	padding: 0px 26px;
}
.aside-filter__list{
	padding: 0px 36px;	
}
.aside-filter__item{
	margin-bottom: 28px;
}
.aside-filter__lnk{
	font-size: 13px;
	font-weight: bold;
	color: $gray;
	&:hover{
		color: $grayHov2;
	}
}