.info-tabs__list{
	margin-bottom: 30px;
}
.info-tabs__item{
	display: inline-block;
	padding: 8px 20px;
	font-size: 15px;
	cursor: pointer;
	.text{
		border-bottom: 1px dotted transparent;
	}
	.num{
		color: $orange;
		margin-left: 4px;
	}
}
.info-tabs__item.active{
	background-color: #f3f0eb;
	border-radius: 24px;
	border-bottom: 1px dotted transparent;
	cursor: default;
}
.info-tabs__item:hover{
	.text{
		border-bottom: 1px dotted $black;
	}
}
.info-tabs__item:hover.active{
	.text{
		border-bottom: 1px dotted transparent;
	}
}
.info-tabs__text{
	font-size: 14px;
	line-height: 24px;
	p{		
		margin-bottom: 20px;
	}
	h4{
		margin-bottom: 20px;		
	}	
	h4.lower{
		text-transform: uppercase;
	}
	li{
		text-transform: uppercase;
		margin-bottom: 10px;		
	}
	li:before{
		content: "";
		display: inline-block;
		height: 2px;
		width: 12px;
		background-color: $blue;
		vertical-align: middle;
		margin-right: 8px;
	}
}

.tabs__title_top{
	position: relative;
	top: -62px;
	font-size: 18px;
}
.tabs__title_top + .product__info_text{
	margin-top: -20px;
}

.tabs-comment__form{		
	margin-top: -20px;
	textarea{
		height: 142px;
	}
	button{
		margin-top: 10px;
	}
}

.info-tabs__col{
	.info-tabs__adress{
		padding-left: 40px;
		box-sizing: border-box;
	}
}
.info-tabs__adress{	
	.adress__metro{
		margin-bottom: 20px;
	}
	.adress__lnk{
		margin-bottom: 18px;
	}
	.adress__phone{
		margin-bottom: 6px;
	}
}