@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin linkTextOffscreen() {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: start;
}


@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin linear-gradient($color-1, $color-2) {
    background:-webkit-linear-gradient($color-1, $color-2);
    background:   -moz-linear-gradient($color-1, $color-2);
    background:    -ms-linear-gradient($color-1, $color-2);
    background:     -o-linear-gradient($color-1, $color-2);
    background:        linear-gradient($color-1, $color-2);
}

@mixin box-sizing($box-sizing-mode) {
  -webkit-box-sizing:$box-sizing-mode;
     -moz-box-sizing:$box-sizing-mode;
          box-sizing:$box-sizing-mode;
}

@mixin absolute-center($top:auto, $left:auto) {
    position:absolute;
    top:$top;
    left:$left;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}


@mixin slickDots320() {
    .slick-dots{
        position: absolute;        
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9;
        opacity: .7;
        @include transition(opacity .25s);
        &:hover{
            opacity: 1;
        }
        li{
            display: inline-block;
            margin: 0 5px;
            width: 8px;
            height: 8px;
        }
        button{
            width: 8px;
            height: 8px;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            background: $gray;
            padding: 0;
            text-indent: -9999px;
            font-size: 0;
            text-align: start;
            border: none;
            vertical-align: top;
            vertical-align: top;
        }
        .slick-active{
            button{
                background: $orange;
                cursor: default;
            }           
        }
    }
}

@mixin slickArrow(){
    .slick-prev,
    .slick-next{
        background-color: #fff;
        cursor: pointer;
        border: $brdLnk4;
        border-radius: 26px;
        width: 51px;
        height: 51px;       
        position: absolute;
        outline: none;
        @include linkTextOffscreen;
        &:hover{
            background-color: $orange;
            border: $brdLnk2;
        }
    }
    .slick-prev:before,
    .slick-next:before{
        content: "";
        width: 8px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -9px;
    }
    .slick-prev{
        &:before{
            margin-left: -4px;
            @include sprite('ico_05');
        }
    }
    .slick-next{
        &:before{
            margin-left: -2px;
            @include sprite('ico_04');
        }
    }
}