
.social__list{
	display: inline-block;
}
.social__item{
	display: inline-block;
	line-height: 20px;
	margin-left: 8px;
	cursor: pointer;
	.ico{
		display: inline-block;
		vertical-align: middle;
	}
	.num{
		margin-left: 10px;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		@include sprite('ico_47');
	}
}
.social__item:first-child{
	margin-left: 0;
}

.social__item.vk{
	.ico{
		@include sprite('ico_32');
	}
	&:hover{
		.ico{
			@include sprite('ico_33');
		}
	}
}
.social__item.fb{
	.ico{
		@include sprite('ico_34');
	}
	&:hover{
		.ico{
			@include sprite('ico_35');
		}
	}
}
.social__item.gp{
	.ico{
		@include sprite('ico_36');
	}
	&:hover{
		.ico{
			@include sprite('ico_37');
		}
	}
}


/*! Social Likes v3.0.13 by Artem Sapegin - http://sapegin.github.com/social-likes - Licensed MIT */
.social-likes,
.social-likes__widget{
	display:inline-block;
	padding:0;
	vertical-align: middle;
}

.social-likes__icon{
	display: inline-block;
}
.social-likes__icon_vkontakte {
	@include sprite('ico_09');
	&:hover,
	&:focus{
		@include sprite('ico_48');
	}
}


.social-likes__icon_twitter {
	@include sprite('ico_10');
	&:hover,
	&:focus{
		@include sprite('ico_49');
	} 
}

.social-likes__icon_facebook {
	@include sprite('ico_11');
	&:hover,
	&:focus{
		@include sprite('ico_50');
	}
}

.social-likes__icon_odnoklassniki {
	@include sprite('ico_12');
	&:hover,
	&:focus{
		@include sprite('ico_51');
	}
}